.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#urlBox {
  width: 300px;
  height: 20px;
  font-size: 15px;
}

.mainPage {
  padding-left: 10px;
}

#startButton {
  background-color: green
}

#stopButton {
  background-color: red
}

button {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  background-color: lightgray;
}

button:disabled {
  color: black;
  opacity: 0.5;
}